app/pug/index.pug
doctype html
include modules/_global-variables
include block/_mixsins
html 
    include mainBlock/_head
    body
        main
            header.header
                .bg
                include block/_navigation
                img.shadow(src= `${mainVar.path.img}oval.png`)
                .header__images
                    - for(let i = 1; i <= 11; i++) {
                        - if(i == 7) continue;
                        img(src= `${mainVar.path.img}bg-img-${i}.png` alt= `Some img № ${i}` class=`header__bg-img header__bg-img_${i}`)
                    - }
                .container
                    .offer
                        .offer__main-wrap.paral-wrap
                            p.offer__text.paral= mainText.offer[0]
                            h1.offer__title.paral= mainText.offer[1]
                            img.offer__img.paral(src= `${mainVar.path.img}bg-img-7.png`)
                        .offer__viwers-wrap 
                            p.offer__v-title= mainText.offer[2]
                            p.offer__v-num.of-v-num= mainText.offer[3]
                            p.offer__v-text= mainText.offer[4]
            section.clients-sect.cs
                .bg
                include block/_navigation
                .container
                    .clients
                        .clients__wrap.clients__right
                            .clients__text-wrap
                                h2.clients__title
                                    = mainText.clients.text[0].split('<br>')[0]
                                    br
                                    = mainText.clients.text[0].split('<br>')[1]
                                p.clients__text= mainText.clients.text[1]
                                a.clients__link(href="#")
                                    span.m-hov(data-hover= 'view')= mainText.clients.text[2]
                        .clients__wrap.clients__left
                            - for(let i = 1; i <= 3; i++) 
                                img(src=`${mainVar.path.img}stiky-img-${i}.png`, alt=`Image number ${i}` class=`clients__stiky-img clients__stiky-img_${i}`)
                            ul.clients__wrapper
                                - for(let i = 1; i <= mainText.clients.itemName.length; i++)
                                    li(class=(i == 2 ||i == 5 || i == 8) ? 'clients__item l-hov center' : 'clients__item l-hov')
                                        .clients__content-wrap
                                            .clients__visible
                                                figure.clients__img
                                                    img(src=`${mainVar.path.img}sect-img-${i}.jpg`, alt=`Name client ${mainText.clients.itemName[i]}`)
                                            .clients__hide
                                                .clients__h-wrap
                                                    h3.clients__hide-title
                                                        = mainText.clients.itemHover[0].split('<br>')[0]
                                                        br
                                                        = mainText.clients.itemHover[0].split('<br>')[1]
                                                        br
                                                        = mainText.clients.itemHover[0].split('<br>')[2]
                                                    p.clients__hide-num
                                                        = mainText.clients.itemHover[1]
                                                        img(src=`${mainVar.path.img}gear-red.png`, alt=`Some img on back groung clients ${i}`)
                                                    a.clients__hide-link(href="#")
                                                        span.m-hov(data-hover= 'view')= mainText.clients.itemHover[2]
                                                        svg(width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            path(d="M4.53566 13.6128L10.9229 7.22551L10.9229 12.8667L12.3332 12.8667L12.3332 4.80786L4.2744 4.80786L4.2744 6.21816L9.91559 6.21816L3.52831 12.6054L4.53566 13.6128Z" fill="white")
                                        .clients__block
                                        - let int = i - 1;
                                            p.clients__name= mainText.clients.itemName[int]   
            section.wedo-sect.wd
                .bg.lol
                include block/_navigation
                .container
                    h2.wedo__titl= mainText.weDoSect[0]
                    .wedo__main-wrap
                        ul.wedo__wrap.wedo__left
                            - for(let i = 1; i <= 6; i++)
                                li.wedo__item-btn
                                    button(class=(i == 1) ? `wedo__btn w-btn active l-hov` : `wedo__btn w-btn l-hov` data-id=`${i}`)
                                        img(src=`${mainVar.path.img}wedo-img-${i}.png`, alt=`Image №${i}` class="inact")
                                        img(src=`${mainVar.path.img}wedo-img-act-${i}.png`, alt=`Image №${i}` class="act")
                        ul.wedo__wrap.wedo__right
                            - for(let i = 1; i <= 6; i++)
                                li(class=(i == 1) ? `wedo__item-main w-items active` : `wedo__item-main w-items` data-id=`${i}`)
                                    img(src=`${mainVar.path.img}bg-img-4.png`, alt="bg image" class="wedo__bg-img wedo__bg-img_1")
                                    img(src=`${mainVar.path.img}bg-img-1.png`, alt="bg image" class="wedo__bg-img wedo__bg-img_2")
                                    img(src=`${mainVar.path.img}bg-img-8.png`, alt="bg image" class="wedo__bg-img wedo__bg-img_3")
                                    .wedo__wrapper
                                        img(src=`${mainVar.path.img}wedo-main-img-${i}.png`, alt="bg image" class=`wedo__main-img wedo__main-img_${i}`)
                                        .wedo__item-content
                                            h3.wedo__item-title= mainText.weDoSect[i]
                                            a.wedo__learn.m-hov(data-hover= 'learn') Learn more
            section.team-sect.ts
                include block/_navigation
                .container
                    h2.team__title= mainText.team.title
                    .team__slider
                        button.team__btn.team__btn-prev.m-hov(data-hover= 'Prev') Prev
                        .swiper-container.team-slider
                            .swiper-wrapper
                                - for(let i = 1; i <= 8; i++)
                                    .swiper-slide.team__slide.l-hov
                                        img(src=`${mainVar.path.img}team-img-${i}.jpg`, alt=`Team member №${i}`)
                                        .team__hover
                                            .team__hov-wrap
                                                h3.team__name= mainText.team.memberItem[0]
                                                p.team__position= mainText.team.memberItem[1]
                        button.team__btn.team__btn-next.m-hov(data-hover= 'Next') Next                        
        .mouse
            span.mouse__text.hov-text
        .footer
            a.footer__contact
                span
                    span Contact us
                    i
                        svg(width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M12.0267 34.3193L29.0538 17.2694L28.9823 32.2561L32.7239 32.2382L32.8261 10.8286L11.4452 10.9308L11.4273 14.6775L26.394 14.6059L9.36685 31.6559L12.0267 34.3193Z" fill="white")
                
        include mainBlock/_scripts
        

public/index.html
<!DOCTYPE html>
<html> 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Test task NextPage</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- ================= Favicon =================-->
    <link rel="icon" href="img/logo/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo/favicon.ico" type="image/x-icon">
    <!-- ################# Favicon #################-->
    <!-- ==================== OG Tags ====================-->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="article">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <!-- #################### OG Tags ####################-->
    <!-- ==================== Css ====================-->
    <link rel="stylesheet" href="css/main.css">
    <!-- #################### Css ####################-->
  </head>
  <body>
    <main>
      <header class="header">
        <div class="bg"></div>
        <nav class="navigation">
          <div class="container">
            <div class="logo"><a class="logo__link"><img class="l-hov" src="img/logo.png"></a></div>
            <div class="nav-btns"><a class="nav-btns__contactus m-hov" data-hover="contact"><span>Contact us</span></a>
              <button class="nav-btns__menu m-hov" data-hover="menu">
                <div class="nav-btns__menu-wrap"><span></span><span></span><span></span><span></span>
                </div>
              </button>
            </div>
          </div>
        </nav><img class="shadow" src="img/oval.png">
        <div class="header__images"><img class="header__bg-img header__bg-img_1" src="img/bg-img-1.png" alt="Some img № 1"><img class="header__bg-img header__bg-img_2" src="img/bg-img-2.png" alt="Some img № 2"><img class="header__bg-img header__bg-img_3" src="img/bg-img-3.png" alt="Some img № 3"><img class="header__bg-img header__bg-img_4" src="img/bg-img-4.png" alt="Some img № 4"><img class="header__bg-img header__bg-img_5" src="img/bg-img-5.png" alt="Some img № 5"><img class="header__bg-img header__bg-img_6" src="img/bg-img-6.png" alt="Some img № 6"><img class="header__bg-img header__bg-img_8" src="img/bg-img-8.png" alt="Some img № 8"><img class="header__bg-img header__bg-img_9" src="img/bg-img-9.png" alt="Some img № 9"><img class="header__bg-img header__bg-img_10" src="img/bg-img-10.png" alt="Some img № 10"><img class="header__bg-img header__bg-img_11" src="img/bg-img-11.png" alt="Some img № 11">
        </div>
        <div class="container">
          <div class="offer">
            <div class="offer__main-wrap paral-wrap">
              <p class="offer__text paral">Practice by SZE</p>
              <h1 class="offer__title paral">Creative</h1><img class="offer__img paral" src="img/bg-img-7.png">
            </div>
            <div class="offer__viwers-wrap"> 
              <p class="offer__v-title">our content has reached</p>
              <p class="offer__v-num of-v-num">1 000 030 021</p>
              <p class="offer__v-text">Viewers</p>
            </div>
          </div>
        </div>
      </header>
      <section class="clients-sect cs">
        <div class="bg"></div>
        <nav class="navigation">
          <div class="container">
            <div class="logo"><a class="logo__link"><img class="l-hov" src="img/logo.png"></a></div>
            <div class="nav-btns"><a class="nav-btns__contactus m-hov" data-hover="contact"><span>Contact us</span></a>
              <button class="nav-btns__menu m-hov" data-hover="menu">
                <div class="nav-btns__menu-wrap"><span></span><span></span><span></span><span></span>
                </div>
              </button>
            </div>
          </div>
        </nav>
        <div class="container">
          <div class="clients">
            <div class="clients__wrap clients__right">
              <div class="clients__text-wrap">
                <h2 class="clients__title">150+<br>CLIENTS
                </h2>
                <p class="clients__text">We work with some of the biggest gaming entertainers &amp; world-renowned organisations.</p><a class="clients__link" href="#"><span class="m-hov" data-hover="view">View all</span></a>
              </div>
            </div>
            <div class="clients__wrap clients__left"><img class="clients__stiky-img clients__stiky-img_1" src="img/stiky-img-1.png" alt="Image number 1"><img class="clients__stiky-img clients__stiky-img_2" src="img/stiky-img-2.png" alt="Image number 2"><img class="clients__stiky-img clients__stiky-img_3" src="img/stiky-img-3.png" alt="Image number 3">
              <ul class="clients__wrapper">
                <li class="clients__item l-hov">
                  <div class="clients__content-wrap">
                    <div class="clients__visible">
                      <figure class="clients__img"><img src="img/sect-img-1.jpg" alt="Name client Juice Burst"></figure>
                    </div>
                    <div class="clients__hide">
                      <div class="clients__h-wrap">
                        <h3 class="clients__hide-title">Channel<br>Operation and<br>Management
                        </h3>
                        <p class="clients__hide-num">8.2M +<img src="img/gear-red.png" alt="Some img on back groung clients 1">
                        </p><a class="clients__hide-link" href="#"><span class="m-hov" data-hover="view">Video Link</span>
                          <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.53566 13.6128L10.9229 7.22551L10.9229 12.8667L12.3332 12.8667L12.3332 4.80786L4.2744 4.80786L4.2744 6.21816L9.91559 6.21816L3.52831 12.6054L4.53566 13.6128Z" fill="white"></path>
                          </svg></a>
                      </div>
                    </div>
                  </div>
                  <div class="clients__block"></div>
                  <p class="clients__name">Liam Payne</p>
                </li>
                <li class="clients__item l-hov center">
                  <div class="clients__content-wrap">
                    <div class="clients__visible">
                      <figure class="clients__img"><img src="img/sect-img-2.jpg" alt="Name client Rita Ora"></figure>
                    </div>
                    <div class="clients__hide">
                      <div class="clients__h-wrap">
                        <h3 class="clients__hide-title">Channel<br>Operation and<br>Management
                        </h3>
                        <p class="clients__hide-num">8.2M +<img src="img/gear-red.png" alt="Some img on back groung clients 2">
                        </p><a class="clients__hide-link" href="#"><span class="m-hov" data-hover="view">Video Link</span>
                          <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.53566 13.6128L10.9229 7.22551L10.9229 12.8667L12.3332 12.8667L12.3332 4.80786L4.2744 4.80786L4.2744 6.21816L9.91559 6.21816L3.52831 12.6054L4.53566 13.6128Z" fill="white"></path>
                          </svg></a>
                      </div>
                    </div>
                  </div>
                  <div class="clients__block"></div>
                  <p class="clients__name">Juice Burst</p>
                </li>
                <li class="clients__item l-hov">
                  <div class="clients__content-wrap">
                    <div class="clients__visible">
                      <figure class="clients__img"><img src="img/sect-img-3.jpg" alt="Name client Popjam"></figure>
                    </div>
                    <div class="clients__hide">
                      <div class="clients__h-wrap">
                        <h3 class="clients__hide-title">Channel<br>Operation and<br>Management
                        </h3>
                        <p class="clients__hide-num">8.2M +<img src="img/gear-red.png" alt="Some img on back groung clients 3">
                        </p><a class="clients__hide-link" href="#"><span class="m-hov" data-hover="view">Video Link</span>
                          <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.53566 13.6128L10.9229 7.22551L10.9229 12.8667L12.3332 12.8667L12.3332 4.80786L4.2744 4.80786L4.2744 6.21816L9.91559 6.21816L3.52831 12.6054L4.53566 13.6128Z" fill="white"></path>
                          </svg></a>
                      </div>
                    </div>
                  </div>
                  <div class="clients__block"></div>
                  <p class="clients__name">Rita Ora</p>
                </li>
                <li class="clients__item l-hov">
                  <div class="clients__content-wrap">
                    <div class="clients__visible">
                      <figure class="clients__img"><img src="img/sect-img-4.jpg" alt="Name client Jonas Blue"></figure>
                    </div>
                    <div class="clients__hide">
                      <div class="clients__h-wrap">
                        <h3 class="clients__hide-title">Channel<br>Operation and<br>Management
                        </h3>
                        <p class="clients__hide-num">8.2M +<img src="img/gear-red.png" alt="Some img on back groung clients 4">
                        </p><a class="clients__hide-link" href="#"><span class="m-hov" data-hover="view">Video Link</span>
                          <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.53566 13.6128L10.9229 7.22551L10.9229 12.8667L12.3332 12.8667L12.3332 4.80786L4.2744 4.80786L4.2744 6.21816L9.91559 6.21816L3.52831 12.6054L4.53566 13.6128Z" fill="white"></path>
                          </svg></a>
                      </div>
                    </div>
                  </div>
                  <div class="clients__block"></div>
                  <p class="clients__name">Popjam</p>
                </li>
                <li class="clients__item l-hov center">
                  <div class="clients__content-wrap">
                    <div class="clients__visible">
                      <figure class="clients__img"><img src="img/sect-img-5.jpg" alt="Name client Logan Paul"></figure>
                    </div>
                    <div class="clients__hide">
                      <div class="clients__h-wrap">
                        <h3 class="clients__hide-title">Channel<br>Operation and<br>Management
                        </h3>
                        <p class="clients__hide-num">8.2M +<img src="img/gear-red.png" alt="Some img on back groung clients 5">
                        </p><a class="clients__hide-link" href="#"><span class="m-hov" data-hover="view">Video Link</span>
                          <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.53566 13.6128L10.9229 7.22551L10.9229 12.8667L12.3332 12.8667L12.3332 4.80786L4.2744 4.80786L4.2744 6.21816L9.91559 6.21816L3.52831 12.6054L4.53566 13.6128Z" fill="white"></path>
                          </svg></a>
                      </div>
                    </div>
                  </div>
                  <div class="clients__block"></div>
                  <p class="clients__name">Jonas Blue</p>
                </li>
                <li class="clients__item l-hov">
                  <div class="clients__content-wrap">
                    <div class="clients__visible">
                      <figure class="clients__img"><img src="img/sect-img-6.jpg" alt="Name client Liam Payne"></figure>
                    </div>
                    <div class="clients__hide">
                      <div class="clients__h-wrap">
                        <h3 class="clients__hide-title">Channel<br>Operation and<br>Management
                        </h3>
                        <p class="clients__hide-num">8.2M +<img src="img/gear-red.png" alt="Some img on back groung clients 6">
                        </p><a class="clients__hide-link" href="#"><span class="m-hov" data-hover="view">Video Link</span>
                          <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.53566 13.6128L10.9229 7.22551L10.9229 12.8667L12.3332 12.8667L12.3332 4.80786L4.2744 4.80786L4.2744 6.21816L9.91559 6.21816L3.52831 12.6054L4.53566 13.6128Z" fill="white"></path>
                          </svg></a>
                      </div>
                    </div>
                  </div>
                  <div class="clients__block"></div>
                  <p class="clients__name">Logan Paul</p>
                </li>
                <li class="clients__item l-hov">
                  <div class="clients__content-wrap">
                    <div class="clients__visible">
                      <figure class="clients__img"><img src="img/sect-img-7.jpg" alt="Name client Juice Burst"></figure>
                    </div>
                    <div class="clients__hide">
                      <div class="clients__h-wrap">
                        <h3 class="clients__hide-title">Channel<br>Operation and<br>Management
                        </h3>
                        <p class="clients__hide-num">8.2M +<img src="img/gear-red.png" alt="Some img on back groung clients 7">
                        </p><a class="clients__hide-link" href="#"><span class="m-hov" data-hover="view">Video Link</span>
                          <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.53566 13.6128L10.9229 7.22551L10.9229 12.8667L12.3332 12.8667L12.3332 4.80786L4.2744 4.80786L4.2744 6.21816L9.91559 6.21816L3.52831 12.6054L4.53566 13.6128Z" fill="white"></path>
                          </svg></a>
                      </div>
                    </div>
                  </div>
                  <div class="clients__block"></div>
                  <p class="clients__name">Liam Payne</p>
                </li>
                <li class="clients__item l-hov center">
                  <div class="clients__content-wrap">
                    <div class="clients__visible">
                      <figure class="clients__img"><img src="img/sect-img-8.jpg" alt="Name client Rita Ora"></figure>
                    </div>
                    <div class="clients__hide">
                      <div class="clients__h-wrap">
                        <h3 class="clients__hide-title">Channel<br>Operation and<br>Management
                        </h3>
                        <p class="clients__hide-num">8.2M +<img src="img/gear-red.png" alt="Some img on back groung clients 8">
                        </p><a class="clients__hide-link" href="#"><span class="m-hov" data-hover="view">Video Link</span>
                          <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.53566 13.6128L10.9229 7.22551L10.9229 12.8667L12.3332 12.8667L12.3332 4.80786L4.2744 4.80786L4.2744 6.21816L9.91559 6.21816L3.52831 12.6054L4.53566 13.6128Z" fill="white"></path>
                          </svg></a>
                      </div>
                    </div>
                  </div>
                  <div class="clients__block"></div>
                  <p class="clients__name">Juice Burst</p>
                </li>
                <li class="clients__item l-hov">
                  <div class="clients__content-wrap">
                    <div class="clients__visible">
                      <figure class="clients__img"><img src="img/sect-img-9.jpg" alt="Name client undefined"></figure>
                    </div>
                    <div class="clients__hide">
                      <div class="clients__h-wrap">
                        <h3 class="clients__hide-title">Channel<br>Operation and<br>Management
                        </h3>
                        <p class="clients__hide-num">8.2M +<img src="img/gear-red.png" alt="Some img on back groung clients 9">
                        </p><a class="clients__hide-link" href="#"><span class="m-hov" data-hover="view">Video Link</span>
                          <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.53566 13.6128L10.9229 7.22551L10.9229 12.8667L12.3332 12.8667L12.3332 4.80786L4.2744 4.80786L4.2744 6.21816L9.91559 6.21816L3.52831 12.6054L4.53566 13.6128Z" fill="white"></path>
                          </svg></a>
                      </div>
                    </div>
                  </div>
                  <div class="clients__block"></div>
                  <p class="clients__name">Rita Ora</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="wedo-sect wd">
        <div class="bg lol"></div>
        <nav class="navigation">
          <div class="container">
            <div class="logo"><a class="logo__link"><img class="l-hov" src="img/logo.png"></a></div>
            <div class="nav-btns"><a class="nav-btns__contactus m-hov" data-hover="contact"><span>Contact us</span></a>
              <button class="nav-btns__menu m-hov" data-hover="menu">
                <div class="nav-btns__menu-wrap"><span></span><span></span><span></span><span></span>
                </div>
              </button>
            </div>
          </div>
        </nav>
        <div class="container">
          <h2 class="wedo__titl">WE DO</h2>
          <div class="wedo__main-wrap">
            <ul class="wedo__wrap wedo__left">
              <li class="wedo__item-btn">
                <button class="wedo__btn w-btn active l-hov" data-id="1"><img class="inact" src="img/wedo-img-1.png" alt="Image №1"><img class="act" src="img/wedo-img-act-1.png" alt="Image №1"></button>
              </li>
              <li class="wedo__item-btn">
                <button class="wedo__btn w-btn l-hov" data-id="2"><img class="inact" src="img/wedo-img-2.png" alt="Image №2"><img class="act" src="img/wedo-img-act-2.png" alt="Image №2"></button>
              </li>
              <li class="wedo__item-btn">
                <button class="wedo__btn w-btn l-hov" data-id="3"><img class="inact" src="img/wedo-img-3.png" alt="Image №3"><img class="act" src="img/wedo-img-act-3.png" alt="Image №3"></button>
              </li>
              <li class="wedo__item-btn">
                <button class="wedo__btn w-btn l-hov" data-id="4"><img class="inact" src="img/wedo-img-4.png" alt="Image №4"><img class="act" src="img/wedo-img-act-4.png" alt="Image №4"></button>
              </li>
              <li class="wedo__item-btn">
                <button class="wedo__btn w-btn l-hov" data-id="5"><img class="inact" src="img/wedo-img-5.png" alt="Image №5"><img class="act" src="img/wedo-img-act-5.png" alt="Image №5"></button>
              </li>
              <li class="wedo__item-btn">
                <button class="wedo__btn w-btn l-hov" data-id="6"><img class="inact" src="img/wedo-img-6.png" alt="Image №6"><img class="act" src="img/wedo-img-act-6.png" alt="Image №6"></button>
              </li>
            </ul>
            <ul class="wedo__wrap wedo__right">
              <li class="wedo__item-main w-items active" data-id="1"><img class="wedo__bg-img wedo__bg-img_1" src="img/bg-img-4.png" alt="bg image"><img class="wedo__bg-img wedo__bg-img_2" src="img/bg-img-1.png" alt="bg image"><img class="wedo__bg-img wedo__bg-img_3" src="img/bg-img-8.png" alt="bg image">
                <div class="wedo__wrapper"><img class="wedo__main-img wedo__main-img_1" src="img/wedo-main-img-1.png" alt="bg image">
                  <div class="wedo__item-content">
                    <h3 class="wedo__item-title">Channel Operation and Management</h3><a class="wedo__learn m-hov" data-hover="learn">Learn more</a>
                  </div>
                </div>
              </li>
              <li class="wedo__item-main w-items" data-id="2"><img class="wedo__bg-img wedo__bg-img_1" src="img/bg-img-4.png" alt="bg image"><img class="wedo__bg-img wedo__bg-img_2" src="img/bg-img-1.png" alt="bg image"><img class="wedo__bg-img wedo__bg-img_3" src="img/bg-img-8.png" alt="bg image">
                <div class="wedo__wrapper"><img class="wedo__main-img wedo__main-img_2" src="img/wedo-main-img-2.png" alt="bg image">
                  <div class="wedo__item-content">
                    <h3 class="wedo__item-title">Creative Services for Infuencers</h3><a class="wedo__learn m-hov" data-hover="learn">Learn more</a>
                  </div>
                </div>
              </li>
              <li class="wedo__item-main w-items" data-id="3"><img class="wedo__bg-img wedo__bg-img_1" src="img/bg-img-4.png" alt="bg image"><img class="wedo__bg-img wedo__bg-img_2" src="img/bg-img-1.png" alt="bg image"><img class="wedo__bg-img wedo__bg-img_3" src="img/bg-img-8.png" alt="bg image">
                <div class="wedo__wrapper"><img class="wedo__main-img wedo__main-img_3" src="img/wedo-main-img-3.png" alt="bg image">
                  <div class="wedo__item-content">
                    <h3 class="wedo__item-title">Graphic Design &amp; Photography</h3><a class="wedo__learn m-hov" data-hover="learn">Learn more</a>
                  </div>
                </div>
              </li>
              <li class="wedo__item-main w-items" data-id="4"><img class="wedo__bg-img wedo__bg-img_1" src="img/bg-img-4.png" alt="bg image"><img class="wedo__bg-img wedo__bg-img_2" src="img/bg-img-1.png" alt="bg image"><img class="wedo__bg-img wedo__bg-img_3" src="img/bg-img-8.png" alt="bg image">
                <div class="wedo__wrapper"><img class="wedo__main-img wedo__main-img_4" src="img/wedo-main-img-4.png" alt="bg image">
                  <div class="wedo__item-content">
                    <h3 class="wedo__item-title">Lyric Videos &amp; Animation</h3><a class="wedo__learn m-hov" data-hover="learn">Learn more</a>
                  </div>
                </div>
              </li>
              <li class="wedo__item-main w-items" data-id="5"><img class="wedo__bg-img wedo__bg-img_1" src="img/bg-img-4.png" alt="bg image"><img class="wedo__bg-img wedo__bg-img_2" src="img/bg-img-1.png" alt="bg image"><img class="wedo__bg-img wedo__bg-img_3" src="img/bg-img-8.png" alt="bg image">
                <div class="wedo__wrapper"><img class="wedo__main-img wedo__main-img_5" src="img/wedo-main-img-5.png" alt="bg image">
                  <div class="wedo__item-content">
                    <h3 class="wedo__item-title">Business Development</h3><a class="wedo__learn m-hov" data-hover="learn">Learn more</a>
                  </div>
                </div>
              </li>
              <li class="wedo__item-main w-items" data-id="6"><img class="wedo__bg-img wedo__bg-img_1" src="img/bg-img-4.png" alt="bg image"><img class="wedo__bg-img wedo__bg-img_2" src="img/bg-img-1.png" alt="bg image"><img class="wedo__bg-img wedo__bg-img_3" src="img/bg-img-8.png" alt="bg image">
                <div class="wedo__wrapper"><img class="wedo__main-img wedo__main-img_6" src="img/wedo-main-img-6.png" alt="bg image">
                  <div class="wedo__item-content">
                    <h3 class="wedo__item-title">Brand Campaigns</h3><a class="wedo__learn m-hov" data-hover="learn">Learn more</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="team-sect ts">
        <nav class="navigation">
          <div class="container">
            <div class="logo"><a class="logo__link"><img class="l-hov" src="img/logo.png"></a></div>
            <div class="nav-btns"><a class="nav-btns__contactus m-hov" data-hover="contact"><span>Contact us</span></a>
              <button class="nav-btns__menu m-hov" data-hover="menu">
                <div class="nav-btns__menu-wrap"><span></span><span></span><span></span><span></span>
                </div>
              </button>
            </div>
          </div>
        </nav>
        <div class="container">
          <h2 class="team__title">Our team</h2>
          <div class="team__slider">
            <button class="team__btn team__btn-prev m-hov" data-hover="Prev">Prev</button>
            <div class="swiper-container team-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide team__slide l-hov"><img src="img/team-img-1.jpg" alt="Team member №1">
                  <div class="team__hover">
                    <div class="team__hov-wrap">
                      <h3 class="team__name">Thomas French</h3>
                      <p class="team__position">Video Maker</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide team__slide l-hov"><img src="img/team-img-2.jpg" alt="Team member №2">
                  <div class="team__hover">
                    <div class="team__hov-wrap">
                      <h3 class="team__name">Thomas French</h3>
                      <p class="team__position">Video Maker</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide team__slide l-hov"><img src="img/team-img-3.jpg" alt="Team member №3">
                  <div class="team__hover">
                    <div class="team__hov-wrap">
                      <h3 class="team__name">Thomas French</h3>
                      <p class="team__position">Video Maker</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide team__slide l-hov"><img src="img/team-img-4.jpg" alt="Team member №4">
                  <div class="team__hover">
                    <div class="team__hov-wrap">
                      <h3 class="team__name">Thomas French</h3>
                      <p class="team__position">Video Maker</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide team__slide l-hov"><img src="img/team-img-5.jpg" alt="Team member №5">
                  <div class="team__hover">
                    <div class="team__hov-wrap">
                      <h3 class="team__name">Thomas French</h3>
                      <p class="team__position">Video Maker</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide team__slide l-hov"><img src="img/team-img-6.jpg" alt="Team member №6">
                  <div class="team__hover">
                    <div class="team__hov-wrap">
                      <h3 class="team__name">Thomas French</h3>
                      <p class="team__position">Video Maker</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide team__slide l-hov"><img src="img/team-img-7.jpg" alt="Team member №7">
                  <div class="team__hover">
                    <div class="team__hov-wrap">
                      <h3 class="team__name">Thomas French</h3>
                      <p class="team__position">Video Maker</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide team__slide l-hov"><img src="img/team-img-8.jpg" alt="Team member №8">
                  <div class="team__hover">
                    <div class="team__hov-wrap">
                      <h3 class="team__name">Thomas French</h3>
                      <p class="team__position">Video Maker</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="team__btn team__btn-next m-hov" data-hover="Next">Next                        </button>
          </div>
        </div>
      </section>
    </main>
    <div class="mouse"><span class="mouse__text hov-text"></span></div>
    <div class="footer"><a class="footer__contact"><span><span>Contact us</span><i>
            <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.0267 34.3193L29.0538 17.2694L28.9823 32.2561L32.7239 32.2382L32.8261 10.8286L11.4452 10.9308L11.4273 14.6775L26.394 14.6059L9.36685 31.6559L12.0267 34.3193Z" fill="white"></path>
            </svg></i></span></a></div>
    <script src="js/swiper.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
